{% extends "../admin_pages_base.html" %}

{% block additional_links %}
<link href="https://fonts.googleapis.com/css2?family=Sansita+Swashed&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Arimo&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Metrophobic&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Mulish&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Piazzolla&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Delius&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Itim&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Sansita+Swashed&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Cousine&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=PT+Mono&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Comic+Neue&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Righteous&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Sansita&display=swap" rel="stylesheet">
{% endblock additional_links %}

{% block content %}
<div class="d-flex justify-content-center" style="padding: 1%;">
	<a href="{% url 'admin_pages:admin_index' %}">
		<button class="btn btn-warning">&#60; Back to Menu</button>
	</a>
</div>

<div class="form-container">
	<div class="text-center title-container"><h2>Manage Appearance</h2></div>

	<form method='post' enctype='multipart/form-data'>
		{% csrf_token %}
		{{ form.as_p }}
		{{ form.errors }}
		{{ form.non_field_errors }}
		<div class="form-btn-container">
			<span class="space-left">
				<button class="btn btn-primary" type="submit">
					Save
				</button>
			</span>
			<span class="space-left">
				<a href="{% url 'admin_pages:admin_index' %}">
					<button class="btn btn-danger">
						Cancel
					</button>
				</a>
			</span>
		</div>
	</form>
</div>
<br>

<script>
	var fontSel = document.getElementById('id_font');
	var fontPrev = document.getElementById('id_font_preview');

	$(document).ready(function() {
		let footer_color = document.getElementById('id_footer_color');
		footer_color.type = 'color';
		footer_color.style.width = '10em';

		let gallery_color = document.getElementById('id_gallery_color');
		gallery_color.type = 'color';
		gallery_color.style.width = '10em';

		let font = fontSel.value.split('&&')[1];
		fontPrev.style.fontFamily = font + ", sans-serif";

		fontPrev.value = 'The brown fox jumped over the lazy dog.';
	});

	fontSel.onchange = function() {
		let font = fontSel.value.split('&&')[1];
		fontPrev.style.fontFamily = font + ", sans-serif";
	}
</script>
{% endblock content %}