{% extends './users_base.html' %}

{% block content %}
<div class="login-container shadow">
    <div class="title">
        <h2>Reset complete</h2>
    </div>  
    <p>
        After you have reset your password via the link
        sent to your email, you may log in again with
        your new password.
    </p>
    <div class="form-btn-container">
        <span class="space-left">
            <a href="{% url 'users:login' %}">
                <button class="btn btn-primary">
                    Log in
                </button>
            </a>
        </span>
    </div>
</div>
{% endblock content %}